html {
  margin: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Arial Narrow";
  font-weight: 500;
  margin: auto;
  width: 100%;
  text-align: center;
  filter: blur(0.5px);
}

body {
  font-family: "Arial Narrow";
  background-color: #8acf00;
  display: grid;
  margin: 0;
  height: 100%;
  justify-content: center;
  align-items: center;
}

main {
  width: 80%;
  height: 80%;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 2rem;
  font-family: "Arial Narrow";
  font-weight: 500;
  filter: blur(0.5px);
  margin: 0 3rem;
  color: #000;
}

h1 {
  font-size: 10rem;
  font-weight: 500;
  margin: auto;
  width: 100%;
  text-align: center;
  filter: blur(2px);
}

.result {
  font-size: 2rem;
  font-family: "Arial Narrow";
  font-weight: 500;
  filter: blur(0.5px);
  margin: 0 3rem;
}

.guess-object {
  font-size: 4rem;
  filter: blur(1px);
}

.scorebox {
  position: fixed;
  width: 100%;
  bottom: 2%;
}

.buttons {
  display: flex;
  justify-content: center;
}

.hidden {
  display: none;
}
